/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?8gumx2");
  src: url("../fonts/icomoon.eot?8gumx2#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?8gumx2") format("truetype"), url("../fonts/icomoon.woff?8gumx2") format("woff"), url("../fonts/icomoon.svg?8gumx2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cancel:before {
  content: "\e904"; }

.icon-mail:before {
  content: "\e900";
  color: #fff; }

.icon-success:before {
  content: "\e901"; }

.icon-left-arrow:before {
  content: "\e903"; }

.icon-right-arrow:before {
  content: "\e902"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-cross:before {
  content: "\ea0f"; }

@keyframes to-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
@-webkit-keyframes to-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
@keyframes to-top {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes to-top {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.slick-arrow {
  opacity: 0.5;
  filter: alpha(opacity=50); }
  .slick-arrow:hover {
    opacity: 0.9;
    filter: alpha(opacity=90); }

.slick-prev:before, .slick-next:before {
  display: none; }

.slick-prev {
  height: 25px;
  left: -30px;
  z-index: 100;
  background-image: url("../image/svg/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media all and (max-width: 576px) {
    .slick-prev {
      left: -15px; } }
  @media all and (min-width: 992px) {
    .slick-prev {
      left: -75px; } }
  .slick-prev:hover, .slick-prev:focus {
    background: url("../image/svg/left-arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

.slick-next {
  right: -30px;
  height: 25px;
  z-index: 100;
  background-image: url("../image/svg/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media all and (max-width: 576px) {
    .slick-next {
      right: -15px; } }
  @media all and (min-width: 992px) {
    .slick-next {
      right: -75px; } }
  .slick-next:hover, .slick-next:focus {
    background: url("../image/svg/right-arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

.btn {
  padding: 10px 30px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 400;
  border-radius: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn:hover {
    color: #fff; }

.btn-blue {
  background: #3164CA;
  color: #fff; }
  .btn-blue:hover {
    background: #0D2645; }
  .btn-blue:focus {
    background: #3164CA;
    outline: 0;
    box-shadow: none; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  background: #e5e5e5; }

* {
  box-sizing: border-box; }

h1 {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: lowercase; }
  @media all and (max-width: 576px) {
    h1 {
      font-size: 32px; } }

h2 {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: #434343; }
  @media all and (max-width: 576px) {
    h2 {
      font-size: 26px;
      margin-bottom: 25px; } }

h3 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 28px;
  color: #262626; }

h4 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 24px; }

h5 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  color: #434343; }

h6 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  color: #434343;
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3; }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span {
  font-weight: inherit !important;
  font-size: inherit !important;
  font-style: unset !important; }

a:focus, button:focus {
  outline: 0; }

p {
  font-size: 13px;
  font-weight: 400; }

section {
  padding: 80px 100px; }
  @media all and (max-width: 992px) {
    section {
      padding: 50px; } }
  @media all and (max-width: 576px) {
    section {
      padding: 50px 30px; } }

a:hover {
  text-decoration: none; }

.ha-header-show {
  -webkit-animation: to-down 0.2s ease-in-out;
  animation: to-down 0.2s ease-in-out; }

.slick-prev:hover, .slick-next:hover {
  box-shadow: none; }

.decoration {
  position: relative;
  text-align: center; }
  .decoration::after {
    content: "";
    bottom: -10px;
    position: absolute;
    width: 62px;
    height: 2px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-bottom: 2px solid #3164CA; }

.container {
  position: relative;
  padding: 0;
  background: #fff; }
  @media all and (max-width: 992px) {
    .container {
      max-width: 100%; } }
  @media all and (min-width: 992px) {
    .container {
      max-width: 1440px; } }

header {
  background: #fff;
  padding: 5px 100px;
  z-index: 500;
  width: 100%;
  max-width: 1440px;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3); }
  @media all and (max-width: 992px) {
    header {
      padding: 0px 50px; } }
  @media all and (max-width: 576px) {
    header {
      padding: 0px 30px; } }
  header nav.navbar {
    padding-left: 0;
    padding-right: 0; }
    header nav.navbar .navbar-brand {
      width: 75px;
      height: auto;
      padding: 0; }
      @media all and (max-width: 576px) {
        header nav.navbar .navbar-brand {
          width: 60px; } }
      header nav.navbar .navbar-brand img {
        width: 100%; }
    header nav.navbar .navbar-toggler {
      border: 0;
      padding: 0;
      -webkit-transform: translateY(-10%);
      transform: translateY(-10%); }
      header nav.navbar .navbar-toggler img {
        filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5); }
      header nav.navbar .navbar-toggler:hover {
        background: none;
        box-shadow: none; }
      header nav.navbar .navbar-toggler:focus {
        background: none;
        outline: 0; }
      header nav.navbar .navbar-toggler .icon-cancel {
        font-size: 14px;
        color: #3164CA; }
    header nav.navbar .navbar-collapse {
      text-transform: uppercase;
      justify-content: flex-end; }
    @media all and (max-width: 991px) {
      header nav.navbar .navbar-nav {
        margin-top: 20px; }
        header nav.navbar .navbar-nav .menu .nav-link {
          padding: 0 0 0 15px !important;
          line-height: 1; }
        header nav.navbar .navbar-nav .menu.active .nav-link {
          border-left: 1px solid #3164CA; } }
    @media all and (max-width: 991px) {
      header nav.navbar .navbar-nav .nav-item-btn {
        border-top: 1px solid #e5e5e5;
        padding-top: 25px; } }
    header nav.navbar .navbar-nav .nav-item {
      margin-right: 40px; }
      header nav.navbar .navbar-nav .nav-item:last-child {
        margin-right: 0; }
      @media all and (max-width: 991px) {
        header nav.navbar .navbar-nav .nav-item {
          margin-right: 0;
          text-align: left;
          margin: 15px 0; } }
      header nav.navbar .navbar-nav .nav-item .nav-link {
        position: relative;
        color: #333;
        font-size: 14px;
        font-weight: 400;
        padding-left: 0;
        padding-right: 0;
        text-transform: capitalize;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: relative; }
        header nav.navbar .navbar-nav .nav-item .nav-link::after {
          bottom: -5px;
          content: '';
          position: absolute;
          width: 0%;
          left: 50%;
          border-bottom: 1px solid #3164CA;
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          -webkit-transition: width 0.2s ease-in-out;
          transition: width 0.2s ease-in-out; }
        header nav.navbar .navbar-nav .nav-item .nav-link:hover::after {
          width: 42px; }
        header nav.navbar .navbar-nav .nav-item .nav-link::after {
          bottom: 0; }
        header nav.navbar .navbar-nav .nav-item .nav-link:focus {
          outline: 0;
          color: #333; }
        @media all and (max-width: 576px) {
          header nav.navbar .navbar-nav .nav-item .nav-link {
            font-size: 13px; } }
        @media all and (max-width: 991px) {
          header nav.navbar .navbar-nav .nav-item .nav-link {
            text-align: left; }
            header nav.navbar .navbar-nav .nav-item .nav-link::after {
              display: none; } }
      header nav.navbar .navbar-nav .nav-item button {
        margin-top: 0; }
      header nav.navbar .navbar-nav .nav-item.active .nav-link {
        color: #333; }
        header nav.navbar .navbar-nav .nav-item.active .nav-link::after {
          width: 42px; }
          @media all and (max-width: 992px) {
            header nav.navbar .navbar-nav .nav-item.active .nav-link::after {
              display: none; } }

footer {
  font-family: "Poppins", sans-serif;
  background: #0D2645;
  padding: 30px 100px;
  color: #fff; }
  @media all and (max-width: 992px) {
    footer {
      padding: 30px 50px; } }
  @media all and (max-width: 576px) {
    footer {
      padding: 30px 30px; } }
  footer .footer-logo {
    align-items: flex-start;
    flex-direction: column; }
    @media all and (max-width: 768px) {
      footer .footer-logo {
        align-items: center; } }
    footer .footer-logo img {
      width: 87px;
      height: auto; }
    footer .footer-logo .email {
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      margin-top: 5px;
      display: block; }
  footer .menu {
    justify-content: center;
    align-items: center; }
    footer .menu ul {
      list-style-type: none;
      width: 100%;
      text-align: center;
      margin-bottom: 0; }
      @media all and (max-width: 767px) {
        footer .menu ul {
          margin: 0; } }
      footer .menu ul li {
        display: inline-block;
        padding: 0 15px;
        position: relative; }
        footer .menu ul li::after {
          content: "";
          position: absolute;
          height: 10px;
          width: 1px;
          background: #fff;
          right: -2.5px;
          top: 7.5px; }
        footer .menu ul li a {
          color: #fff;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 600; }
        footer .menu ul li:last-child::after {
          display: none; }
  footer .social {
    text-align: right;
    align-items: center;
    justify-content: flex-end; }
    footer .social ul {
      list-style-type: none;
      text-align: left;
      margin-bottom: 0; }
      footer .social ul li {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 5px; }
        footer .social ul li a {
          color: #fff; }
          footer .social ul li a img {
            height: 13px;
            width: auto;
            margin-right: 10px; }
  @media all and (max-width: 768px) {
    footer .footer-logo {
      text-align: center;
      margin-bottom: 10px;
      justify-content: center; }
      footer .footer-logo .email {
        margin-top: 15px; }
    footer .menu {
      margin-bottom: 10px; }
    footer .social {
      justify-content: center; }
      footer .social ul {
        text-align: center; } }
  @media all and (max-width: 576px) {
    footer .social ul li {
      display: inline-block;
      margin: 0 10px; }
      footer .social ul li a span {
        display: none; } }

.carousel-control-prev {
  left: 20px;
  top: calc(50% - 74px);
  z-index: 100;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.carousel-control-next {
  top: calc(50% - 74px);
  right: 20px;
  z-index: 100;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.carousel-control-prev-icon {
  background-image: url("../image/svg/left-arrow.svg"); }

.carousel-control-next-icon {
  background-image: url("../image/svg/right-arrow.svg"); }

.slick-initialized.slider-nav {
  width: 80%; }

@media (min-width: 992px) {
  #exampleModalCenter .modal-dialog {
    max-width: 750px; } }
@media (max-width: 576px) {
  #exampleModalCenter {
    padding-right: 0 !important; } }
#exampleModalCenter .modal-content {
  position: relative;
  padding: 50px;
  background-image: url("../image/png/bottom-right.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 300px auto; }
  @media all and (max-width: 576px) {
    #exampleModalCenter .modal-content {
      padding: 20px 15px; } }
  #exampleModalCenter .modal-content button.close {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: #3164CA;
    right: -20px;
    top: -20px;
    border-radius: 50%;
    margin: 0;
    font-weight: 200;
    color: #fff;
    text-shadow: none;
    opacity: 1; }
    #exampleModalCenter .modal-content button.close:hover {
      background-color: #0D2645; }
    @media all and (max-width: 576px) {
      #exampleModalCenter .modal-content button.close {
        background: none;
        color: #3164CA;
        right: 3px;
        top: 3px;
        font-weight: 600;
        font-size: 30px; } }
#exampleModalCenter .modal-header {
  border-bottom: none; }
  #exampleModalCenter .modal-header h2 {
    font-size: 30px;
    text-transform: lowercase; }
    #exampleModalCenter .modal-header h2 span:first-child {
      text-transform: capitalize; }
#exampleModalCenter .modal-body {
  padding: 0; }
#exampleModalCenter .gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0; }
#exampleModalCenter .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error {
  max-width: 100% !important; }
#exampleModalCenter .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  padding: 10px 15px; }
#exampleModalCenter .gform_wrapper.gf_browser_chrome select {
  padding: 2px 15px; }
#exampleModalCenter .gfield_label {
  font-size: 16px;
  font-weight: 400; }
#exampleModalCenter .gform_wrapper .validation_message {
  display: none; }
#exampleModalCenter .gform_wrapper li.gfield.gfield_error, #exampleModalCenter .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color: #fff;
  margin-bottom: 0;
  border-top: none;
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 0; }
#exampleModalCenter .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), #exampleModalCenter .gform_wrapper li.gfield_error textarea {
  border: 1px solid #dc3545; }
#exampleModalCenter .gform_wrapper div.validation_error {
  color: #dc3545;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 25px;
  border-top: none;
  border-bottom: none;
  padding: 0; }
#exampleModalCenter .gform_confirmation_message {
  color: #28a745;
  font-weight: 700;
  text-align: center;
  font-size: 15px; }
#exampleModalCenter .large {
  border-radius: 0 !important;
  font-size: 14px; }
#exampleModalCenter .gfield_radio li {
  width: auto;
  display: inline-block;
  position: relative; }
#exampleModalCenter .gfield_radio li input[type='radio'] {
  display: none; }
#exampleModalCenter .gfield_radio li label {
  color: #666;
  font-weight: normal;
  font-size: 14px;
  margin: 0 30px 0 20px; }
#exampleModalCenter .gfield_radio li label:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #2A58AF;
  background-color: transparent;
  left: 0; }
#exampleModalCenter .gfield_radio li input[type=radio]:checked + label:after {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 8px;
  left: 4px;
  content: " ";
  display: block;
  background: #2A58AF; }
#exampleModalCenter .gform_footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0; }
#exampleModalCenter input[type=text] {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  #exampleModalCenter input[type=text]:focus {
    border: 1px solid #3164CA; }
#exampleModalCenter input[type="submit"] {
  padding: 10px 30px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 400;
  border-radius: 7px;
  background: #3164CA;
  color: #fff;
  margin: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  #exampleModalCenter input[type="submit"]:hover {
    background: #0D2645; }
  #exampleModalCenter input[type="submit"]:focus {
    background: #3164CA;
    outline: 0;
    box-shadow: none; }

#carouselExampleIndicators {
  padding: 0;
  padding-top: 50px; }
  #carouselExampleIndicators .caption {
    text-align: left;
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    left: 100px;
    width: 490px; }
    @media all and (max-width: 992px) {
      #carouselExampleIndicators .caption {
        left: 50px; } }
    @media all and (max-width: 767px) {
      #carouselExampleIndicators .caption {
        display: none; } }
    @media all and (max-width: 576px) {
      #carouselExampleIndicators .caption {
        left: 30px;
        width: calc(100% - 32px); } }
    #carouselExampleIndicators .caption.d-none {
      display: block !important; }
    #carouselExampleIndicators .caption ul li {
      margin-left: 1.3em;
      font-size: 13px; }
    #carouselExampleIndicators .caption p {
      margin-bottom: 20px; }
    #carouselExampleIndicators .caption h1 {
      margin-bottom: 20px;
      padding: 0; }
      #carouselExampleIndicators .caption h1 span:first-child {
        text-transform: capitalize; }
    @media all and (max-width: 576px) {
      #carouselExampleIndicators .caption {
        text-align: center;
        left: 0;
        width: 100%; }
        #carouselExampleIndicators .caption h1 {
          font-size: 25px;
          margin-bottom: 10px; }
        #carouselExampleIndicators .caption p {
          width: 90%;
          margin-left: auto;
          margin-right: auto; } }
    #carouselExampleIndicators .caption .content {
      position: relative;
      padding: 30px;
      border-top: 4px solid #3164CA; }
      #carouselExampleIndicators .caption .content .over-lay-caption {
        position: absolute;
        background: #04141f;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        filter: alpha(opacity=60);
        z-index: -1; }
      #carouselExampleIndicators .caption .content .caption-scroll {
        height: 230px; }
  #carouselExampleIndicators .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 486px; }
    @media all and (max-width: 767px) {
      #carouselExampleIndicators .carousel-item {
        height: 300px; } }
    @media all and (max-width: 576px) {
      #carouselExampleIndicators .carousel-item {
        height: 200px; } }
  #carouselExampleIndicators .over-lay {
    position: absolute;
    background: #1A2542;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.56;
    filter: alpha(opacity=56); }
  #carouselExampleIndicators .carousel-indicators {
    position: unset;
    margin: 0;
    margin-top: 20px;
    justify-content: flex-start; }
    @media all and (max-width: 576px) {
      #carouselExampleIndicators .carousel-indicators {
        justify-content: center; } }
    #carouselExampleIndicators .carousel-indicators li {
      width: 27px;
      height: 2px;
      background: #fff;
      margin: 0 7px 0 0;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      #carouselExampleIndicators .carousel-indicators li.active {
        background: #3164CA; }
      @media all and (max-width: 576px) {
        #carouselExampleIndicators .carousel-indicators li {
          width: 30px; } }
      #carouselExampleIndicators .carousel-indicators li:last-child {
        margin-right: 0; }
  #carouselExampleIndicators .caption-mobile {
    position: relative;
    text-align: center;
    padding: 50px 100px; }
    @media all and (min-width: 768px) {
      #carouselExampleIndicators .caption-mobile {
        display: none; } }
    @media all and (max-width: 992px) {
      #carouselExampleIndicators .caption-mobile {
        padding: 50px; } }
    @media all and (max-width: 576px) {
      #carouselExampleIndicators .caption-mobile {
        padding: 50px 30px; } }
    #carouselExampleIndicators .caption-mobile ul li {
      margin-left: 1.3em;
      font-size: 13px; }
    #carouselExampleIndicators .caption-mobile p {
      margin-bottom: 20px; }
    #carouselExampleIndicators .caption-mobile h1 {
      margin-bottom: 20px;
      padding: 0; }
      #carouselExampleIndicators .caption-mobile h1 span:first-child {
        text-transform: capitalize; }
    @media all and (max-width: 576px) {
      #carouselExampleIndicators .caption-mobile {
        text-align: center; }
        #carouselExampleIndicators .caption-mobile h1 {
          font-size: 25px;
          margin-bottom: 10px; } }
    #carouselExampleIndicators .caption-mobile .carousel-indicators.mobile {
      margin: 0;
      position: absolute;
      top: -20px;
      bottom: unset;
      justify-content: center; }

.partners {
  text-align: center;
  background: #F8F8F8; }
  .partners h6 {
    letter-spacing: 5px;
    margin-top: 30px;
    margin-bottom: 20px; }
  .partners h6:first-child {
    margin-top: 0; }
  .partners img {
    width: 174px;
    height: auto;
    margin: 15px; }
    @media all and (max-width: 576px) {
      .partners img {
        width: 135px; } }

@media all and (min-width: 768px) {
  .our-products {
    background-image: url("../image/png/bg-product-top.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 360px auto; } }
.our-products h2 {
  font-weight: 200;
  text-align: center;
  margin-bottom: 40px; }
@media all and (min-width: 576px) {
  .our-products #carouselExampleIndicators2 {
    margin-bottom: 30px; } }
.our-products #carouselExampleIndicators2 .carousel-indicators {
  margin: 0;
  bottom: -30px; }
  @media all and (max-width: 575px) {
    .our-products #carouselExampleIndicators2 .carousel-indicators {
      display: none; } }
  .our-products #carouselExampleIndicators2 .carousel-indicators li {
    background: #434343;
    height: 2px;
    width: 27px;
    opacity: 0.5; }
    .our-products #carouselExampleIndicators2 .carousel-indicators li.active {
      background: #3164CA;
      opacity: 1; }
.our-products #carouselExampleIndicators2 .carousel-control {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #3164CA;
  background-size: 12px auto;
  opacity: 1;
  top: 406px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .our-products #carouselExampleIndicators2 .carousel-control:hover {
    background-color: #0D2645; }
  @media all and (min-width: 576px) {
    .our-products #carouselExampleIndicators2 .carousel-control {
      display: none; } }
  @media all and (max-width: 414px) {
    .our-products #carouselExampleIndicators2 .carousel-control {
      top: 300px; } }
  .our-products #carouselExampleIndicators2 .carousel-control .carousel-control-next-icon {
    width: 12px;
    height: 12px; }
  .our-products #carouselExampleIndicators2 .carousel-control .carousel-control-prev-icon {
    width: 12px;
    height: 12px; }
.our-products #carouselExampleIndicators2 .carousel-control-prev {
  left: -25px; }
.our-products #carouselExampleIndicators2 .carousel-control-next {
  right: -25px; }
.our-products .row {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 15px; }
  @media all and (max-width: 767px) {
    .our-products .row {
      flex-direction: column-reverse; } }
  .our-products .row .col-sm-12 {
    padding: 0; }
  .our-products .row .d-flex {
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    height: 406px;
    padding: 30px;
    padding-right: 10px;
    position: relative; }
    @media all and (max-width: 767px) {
      .our-products .row .d-flex {
        padding: 50px 30px;
        height: auto; } }
    @media all and (max-width: 576px) {
      .our-products .row .d-flex {
        padding: 50px 16px; } }
    .our-products .row .d-flex .bg-product {
      position: absolute;
      z-index: 100;
      left: -25px;
      bottom: -15px;
      width: 60px;
      height: auto; }
      @media all and (max-width: 768px) {
        .our-products .row .d-flex .bg-product {
          display: none; } }
  @media all and (max-width: 767px) {
    .our-products .row .cap-scroll {
      display: none; } }
  @media all and (min-width: 768px) {
    .our-products .row .cap-scroll-mobile {
      display: none; } }
  .our-products .row .cap {
    height: 346px;
    width: 100% !important;
    position: relative; }
    @media all and (max-width: 767px) {
      .our-products .row .cap {
        height: auto; } }
    .our-products .row .cap .top {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #C4C4C4;
      margin-bottom: 15px;
      position: relative;
      padding-left: 60px; }
      .our-products .row .cap .top .logo {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
      .our-products .row .cap .top .title h3 {
        margin-bottom: 0; }
      .our-products .row .cap .top .title > span {
        font-size: 15px;
        font-weight: 500;
        color: #12335E; }
    .our-products .row .cap .bottom h6 {
      text-transform: unset;
      padding: 0;
      font-size: 15px;
      font-weight: 500;
      color: #12335E;
      display: block;
      margin-top: 15px; }
    .our-products .row .cap .bottom ul {
      margin: 0; }
      .our-products .row .cap .bottom ul li {
        font-size: 13px;
        font-weight: 400;
        margin-left: 18px; }
    .our-products .row .cap .bottom p {
      margin-bottom: 4px;
      margin-right: 15px; }
      .our-products .row .cap .bottom p:first-child {
        margin-right: 0; }
    .our-products .row .cap .bottom h5 {
      text-transform: capitalize;
      display: inline-block;
      margin-right: 15px;
      padding: 0; }
    @media all and (max-width: 414px) {
      .our-products .row .cap .logo {
        height: 40px;
        width: 40px;
        background-position: center 6px;
        background-size: 30px auto; } }
    @media all and (max-width: 767px) {
      .our-products .row .cap {
        margin: 0; } }
  .our-products .row .img-right {
    height: 406px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    @media all and (max-width: 414px) {
      .our-products .row .img-right {
        height: 300px; } }

.press {
  background-color: #F8F8F8; }
  @media all and (min-width: 768px) {
    .press {
      background-image: url("../image/png/bg-product-top.png");
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 360px auto; } }
  .press h2 {
    font-weight: 200;
    text-align: center;
    margin-bottom: 40px; }
  .press .card {
    border: 0;
    padding: 0;
    background-color: #F8F8F8; }
    .press .card .content {
      margin: 5px;
      border-top: 4px solid #fff;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .press .card .content .card-img-top {
        background-color: #fff;
        justify-content: center;
        align-items: center;
        height: 152px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .press .card .content .card-img-top img {
          width: 75%;
          max-width: 200px;
          height: auto; }
      .press .card .content .card-body {
        position: relative;
        background-color: #fff; }
        .press .card .content .card-body::before {
          content: "";
          position: absolute;
          width: 60%;
          top: 0;
          left: 20%;
          height: 2px;
          background: #e5e5e5;
          opacity: 0.5;
          filter: alpha(opacity=50); }
        .press .card .content .card-body h5 {
          text-align: center;
          font-weight: 700;
          color: #3164CA;
          font-size: 15px; }
        .press .card .content .card-body p {
          margin-bottom: 0;
          text-align: center; }
        .press .card .content .card-body ul {
          margin-bottom: 0; }
          .press .card .content .card-body ul li {
            font-size: 13px; }
    .press .card:hover .content {
      box-shadow: 0px 0px 5px 2px #e5e5e5;
      border-top: 4px solid #3164CA; }
  .press .slick-arrow {
    display: none !important; }
  .press .slick-dots {
    bottom: -50px; }
    @media all and (max-width: 768px) {
      .press .slick-dots {
        bottom: -30px; } }
  .press .slick-dots li {
    width: 27px;
    height: 2px; }
    .press .slick-dots li button {
      height: 2px;
      width: 27px; }
      .press .slick-dots li button::before {
        content: "";
        background: #434343;
        height: 2px;
        width: 27px;
        opacity: 0.5; }
  .press .slick-dots li.slick-active button::before {
    background: #3164CA;
    opacity: 1; }

.why-choose-us {
  background-color: #F8F8F8; }
  @media all and (min-width: 576px) {
    .why-choose-us {
      background-image: url("../image/png/bg-product-top2.png"), url("../image/png/bg-product-bottom.png");
      background-position: top right, left bottom;
      background-size: 360px auto;
      background-repeat: no-repeat; } }
  .why-choose-us h2 {
    text-align: center; }
    @media all and (max-width: 576px) {
      .why-choose-us h2 {
        margin-bottom: 50px; } }
  .why-choose-us h5 {
    font-weight: 700;
    color: #3164CA;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 15px; }
  @media all and (min-width: 768px) {
    .why-choose-us .left .image {
      margin-left: -30px; } }
  .why-choose-us .left .box {
    left: 0; }
  @media all and (min-width: 768px) {
    .why-choose-us .right .image {
      margin-right: -30px; } }
  .why-choose-us .right .box {
    right: 0; }
  .why-choose-us .right .text h5 {
    position: relative; }
    @media all and (min-width: 768px) {
      .why-choose-us .right .text h5 {
        font-size: 34px;
        padding-bottom: 15px;
        margin: 0;
        text-align: left;
        font-weight: 200; } }
    @media all and (min-width: 1024px) {
      .why-choose-us .right .text h5 {
        font-size: 40px; } }
    .why-choose-us .right .text h5::before {
      content: "";
      width: 265px;
      height: 1px;
      background: #2A58AF;
      position: absolute;
      left: -230px;
      bottom: -10px; }
      @media all and (min-width: 1366px) {
        .why-choose-us .right .text h5::before {
          left: -250px; } }
      @media all and (max-width: 1024px) {
        .why-choose-us .right .text h5::before {
          width: 220px;
          left: -200px; } }
      @media all and (max-width: 768px) {
        .why-choose-us .right .text h5::before {
          display: none; } }
  .why-choose-us .right .text p {
    padding-left: 50px; }
    @media all and (max-width: 768px) {
      .why-choose-us .right .text p {
        padding-left: 0; } }
  .why-choose-us .text {
    justify-content: center;
    align-items: center;
    height: 488px; }
    @media all and (max-width: 576px) {
      .why-choose-us .text {
        padding: 0 30px; } }
    .why-choose-us .text h5 {
      font-size: 15px; }
    .why-choose-us .text p {
      margin-bottom: 0;
      font-size: 30px; }
      @media all and (max-width: 1024px) {
        .why-choose-us .text p {
          font-size: 18px; } }
      @media all and (max-width: 576px) {
        .why-choose-us .text p {
          font-size: 13px; } }
  .why-choose-us .image {
    height: 488px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    opacity: 1 !important; }
    @media all and (max-width: 576px) {
      .why-choose-us .image {
        margin-bottom: 100px; } }
    .why-choose-us .image .box {
      width: 246px;
      height: 195px;
      border-top: 4px solid #3164CA;
      position: absolute;
      bottom: -2px;
      background: #fff;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background-color: #F8F8F8;
      opacity: 1 !important; }
      .why-choose-us .image .box p {
        margin-bottom: 0; }
      @media all and (max-width: 576px) {
        .why-choose-us .image .box {
          bottom: -100px;
          width: 80%;
          padding-left: 30px;
          padding-right: 30px; } }
  .why-choose-us .mb {
    margin-bottom: 100px; }
    .why-choose-us .mb:last-child {
      margin-bottom: 0px !important; }
    @media all and (max-width: 576px) {
      .why-choose-us .mb {
        margin-bottom: 50px; } }
  @media all and (max-width: 768px) {
    .why-choose-us .text {
      height: 350px; }
    .why-choose-us .image {
      height: 350px; } }
  @media all and (max-width: 767px) {
    .why-choose-us .left .text {
      margin-bottom: 60px; }
    .why-choose-us .text {
      height: auto; }
    .why-choose-us .right .text {
      margin-bottom: 60px; }
      .why-choose-us .right .text h2 {
        font-size: 15px;
        font-weight: 700; }
    .why-choose-us .right .row {
      flex-direction: column-reverse; } }

.capital {
  position: relative; }
  @media all and (min-width: 768px) {
    .capital {
      background-image: url("../image/png/bg-product-top2.png");
      background-position: top right;
      background-size: 360px auto;
      background-repeat: no-repeat; } }
  .capital .image {
    height: 404px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .capital .box {
    padding: 0 20px; }
    @media all and (max-width: 767px) {
      .capital .box {
        padding: 50px 0 0; } }
    .capital .box h2 {
      margin-bottom: 30px; }
    .capital .box h5 {
      font-size: 18px;
      padding: 0;
      font-weight: 700;
      color: #3164CA;
      text-transform: unset; }

.our-team {
  background-color: #F8F8F8;
  position: relative; }
  .our-team h2 {
    text-align: center;
    padding: 0;
    margin-bottom: 40px; }
  @media all and (min-width: 768px) {
    .our-team .row {
      padding-bottom: 30px; } }
  @media all and (max-width: 767px) {
    .our-team .row {
      flex-direction: column-reverse; } }
  @media all and (min-width: 768px) {
    .our-team .p-right {
      padding-right: 0; } }
  @media all and (min-width: 768px) {
    .our-team .p-left {
      padding-left: 0; } }
  .our-team .d-flex {
    height: 475px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 3px solid #2A58AF; }
    @media all and (max-width: 1024px) {
      .our-team .d-flex {
        height: 380px;
        padding: 0 30px; } }
    @media all and (max-width: 992px) {
      .our-team .d-flex {
        height: 350px; } }
    @media all and (max-width: 767px) {
      .our-team .d-flex {
        height: auto; }
        .our-team .d-flex .about {
          margin: 50px 0; } }
    .our-team .d-flex .bg-img {
      position: absolute;
      width: auto;
      height: 135px;
      left: -35px;
      bottom: -30px; }
      @media all and (max-width: 768px) {
        .our-team .d-flex .bg-img {
          display: none; } }
    .our-team .d-flex .about {
      color: #434343; }
      .our-team .d-flex .about h3 {
        font-weight: 200;
        margin-bottom: 15px; }
      .our-team .d-flex .about .work {
        font-size: 13px;
        font-weight: 600;
        text-transform: capitalize;
        color: #2A58AF; }
      .our-team .d-flex .about ul li {
        font-size: 13px;
        margin-left: 18px; }
  .our-team .image {
    height: 475px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    @media all and (max-width: 1024px) {
      .our-team .image {
        height: 380px; } }
    @media all and (max-width: 992px) {
      .our-team .image {
        height: 350px; } }
  .our-team .slick-arrow {
    display: none !important; }
  .our-team .slick-dots {
    bottom: -50px; }
    @media all and (max-width: 768px) {
      .our-team .slick-dots {
        bottom: -30px; } }
  .our-team .slick-dots li {
    width: 27px;
    height: 2px; }
    .our-team .slick-dots li button {
      height: 2px;
      width: 27px; }
      .our-team .slick-dots li button::before {
        content: "";
        background: #434343;
        height: 2px;
        width: 27px;
        opacity: 0.5; }
  .our-team .slick-dots li.slick-active button::before {
    background: #3164CA;
    opacity: 1; }
  @media all and (max-width: 575px) {
    .our-team .slick-arrow {
      display: block !important;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: #3164CA;
      background-size: 12px auto;
      opacity: 1;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .our-team .slick-arrow:hover {
        background-color: #0D2645; }
    .our-team .slick-prev {
      left: -25px; }
    .our-team .slick-next {
      right: -25px; } }

/*# sourceMappingURL=main.css.map */
