html, body {
    margin: 0;
    padding: 0;
    font-family: $poppins !important;
    background: $bg-body;
}
* {
  box-sizing: border-box;
}
h1{
    font-size: $size-h1;
    font-weight: $light;
    letter-spacing: 0;
    text-transform: lowercase;
     @media all and (max-width: 576px){
        font-size: $size-h1 - 3;
    }
}
h2{
    text-transform: uppercase;
    font-size: $size-h2;
    font-weight: $extraLight;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: $bg-gray;
    @media all and (max-width: 576px){
        font-size: $size-h2 - 8;
        margin-bottom: 25px;
    }
}
h3{
    text-transform: capitalize;
    font-weight: $medium;
    font-size: $size-h3;
    color: $color-black-light;
}
h4{
    text-transform: capitalize;
    font-weight: $semiBold;
    font-size: $size-h4;
}
h5{
    font-size: $size-h5;
    font-weight: $light;
    letter-spacing: 0;
    color: $bg-gray;
}
h6{
    font-size: $size-h6;
    font-weight: $semiBold;
    letter-spacing: 0;
    color: $bg-gray;
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.3;
}
h1,h2,h3,h4,h5,h6,p{
    span{
        font-weight: inherit !important;
        font-size: inherit !important;
        font-style: unset !important;
    }
}
a:focus, button:focus{
    outline: 0;
}
p{
    font-size: $size-p;
    font-weight: $regular;
    // @media all and (max-width: 576px){
    //     font-size: $regular - 2;
    // }
}

section{
    padding: 80px $padding;
    @media all and (max-width: 992px){
        padding: $padding-tablet;
    }
    @media all and (max-width: 576px){
        padding: 50px $padding-mobile;
    }
}
#exampleModal{
    .modal-dialog{
        width: 90%;
        max-width: 814px;
        margin: 2rem auto 0;
        .modal-content{
            .modal-header{
                height: 254px;
                border: 0;
                @include background-image;
                justify-content: center;
                align-items: center;
                @include padding;
                position: relative;
                .over-lay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #000;
                    z-index: $Z-index1;
                    @include opacity(0.3);
                }
                h3{
                    font-size: $size-h3 - 2;
                    color: $color-white;
                    font-weight: $regular;
                    text-align: center;
                    z-index: $Z-index5;
                    padding: 0;
                    margin: 0;
                }
                #close-modal{
                    z-index: $Z-index2;
                    color: $color-white;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    cursor: pointer;
                    @include transition(all 0.2s ease-in-out);
                    &:hover{
                        color: $color-blue;
                    }
                }

            }
            .modal-body{
                @include padding;
                padding-top: 40px !important;
                .wpcf7-form{
                    .wpcf7-response-output{
                        text-align: center;
                        border: none;
                        padding: 0;
                        font-weight: bold;
                        font-size: $size-p + 3;
                        margin-bottom: 0;
                        color: $color-error;
                        position: relative;
                        @include fit-content-width;
                        margin-left: auto;
                        margin-right: auto;
                        padding-left: 30px;
                        @media all and (max-width: 576px){
                            font-size: $size-p;
                        }
                        font-family: $poppins;
                        }
                    .wpcf7-validation-errors, div.wpcf7-mail-sent-ng{
                        &::before{
                            content: "";
                            position: absolute;
                            background-image: url(../image/svg/error.svg);
                            @include background-image;
                            height: 12px;
                            width: 12px;
                            left: 0;
                            top: 50%;
                            @include translateY(-50%);
                        }
                    }
                    .wpcf7-mail-sent-ok{
                        color: $color-blue; 
                        &::before{
                            content: "";
                            position: absolute;
                             background-image: url(../image/svg/success.svg);
                            @include background-image;
                            height: 12px;
                            width: 12px;
                            left: 0;
                            top: 50%;
                            @include translateY(-50%);
                        }
                    }
                    label, p{
                        color: $color-black-light;
                        font-weight: $bold;
                    }
                    .wpcf7-not-valid-tip{
                        display: none !important;
                    }
                    input{
                        border: 1px solid $color-border;
                        border-radius: 0;
                        margin-top: 10px;
                        color: $color-black-light;
                        @include placeholder($color-border);
                        @include placeholder-font($poppins);
                        &.wpcf7-not-valid{
                            border: 1px solid $color-error;
                        }
                    }
                    #first-name{
                        width: 48%;
                        display: inline-block;
                        margin-right: 4%;
                    }
                    #last-name{
                        width: 48%;
                        display: inline-block;
                    }
                    #email{
                        width: 100%;
                    }
                    #phone{
                        width: 100%;
                    }
                    #close{
                        margin: 0;
                        margin-top: -1rem;
                        #close-btn{
                            margin: 0;
                        }
                    }
                    #submit{
                        position: relative;
                        @include fit-content-width;
                        @include fit-content-height;
                        #submit-btn{
                            border: none;
                            padding: 13px 30px;
                            text-transform: uppercase;
                            margin-top: 10px;
                            font-size: $size-p;
                            font-weight: $regular;
                            border-radius: 7px;
                            background: $bg-blue;
                            color: $color-white;
                            @include transition(all 0.2s ease-in-out);
                            &:hover{
                                color: $color-white;
                                background: $color-navy;
                            }
                            &:focus{
                                outline: none;
                                box-shadow: none;
                                background: $bg-blue;
                            }
                            
                        }

                        .ajax-loader{
                                position: absolute;
                                right: 10px;
                                top: 22px;
                                background-image: none;
                                font-size: 15px;
                                color: white;
                                @include animation(spin 1s linear infinite);
                                margin: 0;
                                height: auto;
                                width: auto;
                            }
                    }
                    
                }
            }
            .modal-footer{
                text-align: center;
                border: none;
                justify-content: center;
                @include padding;
                padding-top: 1rem !important;
            }
        }
    }
    
}
a:hover{
    text-decoration: none;
} 
// .ha-header-hide {
//     @include animation(to-top 0.2s ease-in-out);
// }
.ha-header-show {
    @include animation(to-down 0.2s ease-in-out);
}

.slick-prev, .slick-next{
    &:hover{
        box-shadow: none;
    }
}
.decoration{
    position: relative;
    text-align: center;
    &::after{
        content: "";
        bottom: -10px;        
        position: absolute;
        width: 62px;
        height: 2px;
        left: 50%;
        @include translate(-50%, 0);
        border-bottom: 2px solid $bg-blue;
    }
}

.container{
    position: relative;
    padding: 0;
    background: $bg-white;
    @media all and (max-width: 992px){
        max-width: 100%;  
    }
    @media all and (min-width: 992px){
        max-width: 1440px;
    }
}
header{
    background: $bg-white;
    padding: 5px $padding;
    z-index: $Z-index5;
    width: 100%;
    max-width: 1440px;
    position: fixed;
    top: 0;
    @include transition(all 0.3s ease-in-out);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
    @media all and (max-width: 992px){
        padding: 0px $padding-tablet;
    }
    @media all and (max-width: 576px){
        padding: 0px $padding-mobile;
    }
    nav.navbar{
        padding-left: 0;
        padding-right: 0;
        .navbar-brand{
            width: 75px;
            height: auto;
            padding: 0;
            @media all and (max-width: 576px){
                width: 60px;
            }
            img{
                width: 100%;
            }

        }
        .navbar-toggler{
            border: 0;
            padding: 0;
            @include translateY(-10%);
            img{
                filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
                }
            &:hover{
                background: none;
                box-shadow: none;
            }
            &:focus{
                background: none;
                outline: 0;
            }
            .icon-cancel{
                font-size: $size-p + 1;
                color: $color-blue;
            }
        }
        .navbar-collapse{
            text-transform: uppercase;
            justify-content: flex-end;
        }
        .navbar-nav{
            @media all and (max-width: 991px){
                margin-top: 20px;
                .menu{
                    .nav-link{
                        padding: 0 0 0 15px !important;
                        line-height: 1;
                    }
                    &.active{
                        .nav-link{
                            border-left: 1px solid $color-blue;
                        }
                    }
                }
            }

            .nav-item-btn{
                @media all and (max-width: 991px){
                    border-top: 1px solid $bg-body;
                    padding-top: 25px;
                }
            }
            .nav-item{
                margin-right: 40px;
                &:last-child{
                    margin-right: 0;
                }
                @media all and (max-width: 991px){
                    margin-right: 0;
                    text-align: left;
                    margin: 15px 0;
                }
                .nav-link{
                    position: relative;
                    color: $color-black;
                    font-size: $size-p + 1;
                    font-weight: $regular;
                    padding-left: 0;
                    padding-right: 0;
                    text-transform: capitalize;
                    @include transition(all 0.2s ease-in-out);
                    @include hover($color-black);
                    &::after{
                        bottom: 0;
                    }
                    &:focus{
                        outline: 0;
                        color: $color-black;
                    }
                    @media all and (max-width: 576px){
                        font-size: $size-p;
                    }
                    @media all and (max-width: 991px){
                        text-align: left;
                        &::after{
                            display: none;
                        }
                        &:hover{
                            
                        }
                    }
                }
                button{
                    margin-top: 0;
                    @media all and (max-width: 991px){

                    }
                }
                &.active{
                    .nav-link{
                        color: $color-black;
                        &::after{
                            width: 42px;
                            @media all and (max-width: 992px){
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    // &.to-fixed{
    //     position: fixed;    
    // }
    
}
footer{
    font-family: $poppins;
    background: $bg-violet;
    padding: 30px $padding;
    color: $color-white;
     @media all and (max-width: 992px){
        padding: 30px $padding-tablet;
    }
    @media all and (max-width: 576px){
        padding: 30px $padding-mobile;
    }
    .footer-logo{
        align-items: flex-start;
        flex-direction: column;
        @media all and (max-width: 768px){
            align-items: center;
        }
        img{
            width: 87px;
            height: auto;
        }
        .email{
            color: $color-white;
            font-size: $size-p - 1;
            font-weight: $light;
            margin-top: 5px;
            display: block;
        }
    }
    .menu{
        justify-content: center;
        align-items: center;
        ul{
            list-style-type: none;
            width: 100%;
            text-align: center;
            margin-bottom: 0;
            @media all and (max-width: 767px){
                margin: 0;
            }
            
            li{
                display: inline-block;
                padding: 0 15px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    height: 10px;
                    width: 1px;
                    background: #fff;
                    right: -2.5px;
                    top: 7.5px;
                }
                a{
                    color: $color-white;
                    text-transform: uppercase;
                    font-size: $size-p;
                    font-weight: $semiBold;
                }
                &:last-child{
                    &::after{
                        display: none;
                    }
                }
            }

        }
    }
    .social{
        text-align: right;
        align-items: center;
        justify-content: flex-end;
        ul{
            list-style-type: none;
            text-align: left;
            margin-bottom: 0;
            li{
                font-size: $size-p - 1;
                font-weight: $light;
                margin-bottom: 5px;
                a{
                    color: $color-white;
                    img{
                        height: 13px;
                        width: auto;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    @media all and (max-width: 768px){
        .footer-logo{
            text-align: center;
            margin-bottom: 10px;
            justify-content: center;
            .email{
                margin-top: 15px;
            }
        }
        .menu{
            margin-bottom: 10px;
        }
        .social{
            justify-content: center;
            ul{
                text-align: center;
            }
        }
    }
    @media all and (max-width: 576px){
        .social{
            ul{
               li{
                    display: inline-block;
                    margin: 0 10px;
                    a{
                        span{
                            display: none;
                        }
                    }
               }
            }
        }
    }
    
}
.carousel-control-prev{
    left: 20px;
    top: calc(50% - 74px);
    z-index: $Z-index1;
    @include fit-content-height;
    @include fit-content-width;
    
}
.carousel-control-next{
    top: calc(50% - 74px);
    right: 20px;
    z-index: $Z-index1;
    @include fit-content-height;
    @include fit-content-width;
}
.carousel-control-prev-icon{
    background-image: url('../image/svg/left-arrow.svg');
}
.carousel-control-next-icon{
    background-image: url('../image/svg/right-arrow.svg');
}
.slick-initialized.slider-nav{
    width: 80%;
}
#exampleModalCenter{
    @media (min-width: 992px){
        .modal-dialog {
            max-width: 750px;
        }
    }
    @media (max-width: 576px){
        padding-right: 0 !important;
    }
    .modal-content{
        position: relative;
        padding: 50px;
        background-image: url('../image/png/bottom-right.png');
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 300px auto;
        @media all and (max-width: 576px){
            padding: 20px 15px;
        }
        button.close{
            position: absolute;
            height: 40px;
            width: 40px;
            padding: 0;
            background-color: $bg-blue;
            right: -20px;
            top: -20px;
            border-radius: 50%;
            margin: 0;
            font-weight: 200;
            color: $color-white;
            text-shadow: none;
            opacity: 1;
            &:hover{
                background-color: $color-navy;
            }
            @media all and (max-width: 576px){
                background: none;
                color: $color-blue;
                right: 3px;
                top: 3px;
                font-weight: 600;
                font-size: 30px;
            }
        }
    }
    .modal-header{
        border-bottom: none;
        h2{
            font-size: $size-h2 - 4;
            text-transform: lowercase;
            span:first-child{
                text-transform: capitalize;
            }
        }
    }
    .modal-body{
        padding: 0;
    }
    .gform_wrapper ul.gform_fields li.gfield{
        padding-right: 0;
    }
    .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error{
        max-width: 100% !important;
    }
    .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
        padding: 10px 15px;
    }
    .gform_wrapper.gf_browser_chrome select{
        padding: 2px 15px;
    }
    .gfield_label{
        font-size: $size-p + 3;
        font-weight: $regular;
    }
    .gform_wrapper .validation_message {
        display: none;
    }
    .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
        background-color: $bg-white;
        margin-bottom: 0;
        border-top: none;
        border-bottom: none;
        padding-bottom: 0;
        padding-top: 0;
    }
    .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea{
        border: 1px solid $color-danger;
    }
    .gform_wrapper div.validation_error{
        color: $color-danger;
        font-size: $size-p + 2;
        font-weight: $bold;
        margin-bottom: 25px;
        border-top: none;
        border-bottom: none;
        padding: 0;
    }
    .gform_confirmation_message{
        color: $color-success;
        font-weight: $bold;
        text-align: center;
        font-size: $size-p + 2;
    }
    .large{
        border-radius: 0 !important;
        font-size: $size-p + 1;
    }
    .gfield_radio{
         li {
            width: auto;
            display: inline-block;
            position: relative;
        }

        li input[type='radio'] {
          display: none;
        }

        li label {
          color: #666;
          font-weight: normal;
          font-size: $size-p + 1;
          margin: 0 30px 0 20px;
        }

        li label:before {
            content: " ";
            display: inline-block;
            position: absolute;
            top: 4px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid $color-text-blue;
            background-color: transparent;
            left: 0;
        }

        li input[type=radio]:checked + label:after {
            border-radius: 50%;
            width: 6px;
            height: 6px;
            position: absolute;
            top: 8px;
            left: 4px;
            content: " ";
            display: block;
            background: $color-text-blue;
        }
    }
    .gform_footer{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 0;
    }
    input[type=text]{
        @include transition(all 0.2s ease-in-out);
        &:focus{
            border: 1px solid $color-blue;
        }
    }
    input[type="submit"]{
        padding: 10px 30px;
        text-transform: capitalize;
        font-size: $size-p;
        font-weight: $regular;
        border-radius: 7px;
        background: $bg-blue;
        color: $color-white;
        margin: 0;
        @include transition(all 0.2s ease-in-out);
        &:hover{
            background: $color-navy;
        }
        &:focus{
            background: $bg-blue;
            outline: 0;
            box-shadow: none;
        }
    }
}
#carouselExampleIndicators{
    padding: 0; 
    padding-top: 50px;
    .caption{
        text-align: left;
        position: absolute;
        z-index: $Z-index1;
        color: $color-white;
        bottom: 0;
        left: $padding;
        width: 490px;
        @media all and (max-width: 992px){
            left: $padding-tablet;
        }
        @media all and (max-width: 767px){
            display: none;
        }
        @media all and (max-width: 576px){
            left: $padding-mobile;
            width: calc(100% - 32px);
        }
        &.d-none{
            display: block !important;
        }
        ul{
            li{
                margin-left: 1.3em;
                font-size: $size-p;
            }
        }
        p{
            margin-bottom: 20px;
        }
        
        h1{
            margin-bottom: 20px;
            padding: 0;
            span:first-child{
                text-transform: capitalize;
            }
        }
        @media all and (max-width: 576px){
            text-align: center;
            left: 0;
            width: 100%;
            h1{
                font-size: $size-h1 - 10;
                 margin-bottom: 10px;
            }
            p{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .content{
            position: relative;
            padding: 30px;
            border-top: 4px solid $color-blue;
            .over-lay-caption{
                position: absolute;
                background: $bg-caption;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                @include opacity(0.6);
                z-index: -1;
            }
            .caption-scroll{
                height: 230px;
            }   
            
        }

    }
    .carousel-item{
        @include background-image;
        width: 100%;
        height: 486px;
        @media all and (max-width: 767px){
            height: 300px;
        }
         @media all and (max-width: 576px){
            height: 200px;
        }
    }
    .over-lay{
        position: absolute;
        background: #1A2542;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include opacity(0.56);
    }
    .carousel-indicators{
        position: unset;
        margin: 0;
        margin-top: 20px;
        justify-content: flex-start;
        @media all and (max-width: 576px){
            justify-content: center;
        }
        li{
            width: 27px;
            height: 2px;
            background: $bg-white;
            margin: 0 7px 0 0;
            @include transition(all 0.4s ease-in-out);
            &.active{
                background: $bg-blue;
            }
            // &::before, &::after{
            //     display: none;
            // }
            @media all and (max-width: 576px){
                width: 30px;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .caption-mobile{
        position: relative;
        text-align: center;
        @media all and (min-width: 768px){
            display: none;
        }
        padding: 50px $padding;
        @media all and (max-width: 992px){
            padding: $padding-tablet;
        }
        @media all and (max-width: 576px){
            padding: 50px $padding-mobile;
        }
        ul{
            li{
                margin-left: 1.3em;
                font-size: $size-p;
            }
        }
        p{
            margin-bottom: 20px;
        }
        
        h1{
            margin-bottom: 20px;
            padding: 0;
            span:first-child{
                text-transform: capitalize;
            }
        }
        @media all and (max-width: 576px){
            text-align: center;
            h1{
                font-size: $size-h1 - 10;
                 margin-bottom: 10px;
            }
            
        }
        .carousel-indicators.mobile{
            margin: 0;
            position: absolute;
            top: -20px;
            bottom: unset;
            justify-content: center;
        }
    }
}

//Partners
.partners{
    text-align: center;
    background: $bg-section;
    h6{
        letter-spacing: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    h6:first-child{
        margin-top: 0;
    }
    img{
        width: 174px;
        height: auto;
        margin: 15px;
        @media all and (max-width: 576px){
            width: 135px;
        }
    }
}

//Our Products
.our-products{
    @media all and (min-width: 768px){
        background-image: url('../image/png/bg-product-top.png');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 360px auto;
    }
    h2{
        font-weight: $extraLight;
        text-align: center;
        margin-bottom: 40px;
    }
    #carouselExampleIndicators2{
        @media all and (min-width: 576px){
            margin-bottom: 30px;
        }
        .carousel-indicators{
            margin: 0;
            bottom: -30px;
             @media all and (max-width: 575px){
                display: none;
             }
             li{
                background: $bg-gray;
                height: 2px;
                width: 27px; 
                opacity: 0.5;
                &.active{
                    background: $bg-blue;
                    opacity: 1;
                }
             }
        }
        .carousel-control{
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: $color-blue;
            background-size: 12px auto;
            opacity: 1;
            top: 406px;
            @include transition(all 0.2s ease-in-out);
            &:hover{
                background-color: $color-navy;
            }
            @media all and (min-width: 576px){
                display: none;
             }
             @media all and (max-width: 414px){
                top: 300px;
            }
            .carousel-control-next-icon{
                width: 12px;
                height: 12px;
            }
            .carousel-control-prev-icon{
                width: 12px;
                height: 12px;
            }
        }
        .carousel-control-prev{
            left: -25px;
        }
        .carousel-control-next{
            right: -25px;
        }
    }
    
    .row{
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 15px;
        @media all and (max-width: 767px){
            flex-direction: column-reverse;
        }
        .col-sm-12{
            padding: 0;
        }
        .d-flex{
            justify-content: center;
            align-items: center;
            background: $bg-section;
            height: 406px;
            padding: 30px;
            padding-right: 10px;
            position: relative;
            @media all and (max-width: 767px){
                padding: 50px 30px;
                height: auto;
            }
            @media all and (max-width: 576px){
                padding: 50px 16px;
            }
            .bg-product{
                position: absolute;
                z-index: 100;
                left: -25px;
                bottom: -15px;
                width: 60px;
                height: auto;
                 @media all and (max-width: 768px){
                    display: none;
                }
            }
        }
         @media all and (max-width: 767px){
                .cap-scroll{
                    display: none;
                }
            }
         @media all and (min-width: 768px){
            .cap-scroll-mobile{
                display: none;
            }
        }
        .cap{
            height: 346px;
            width: 100% !important;
            position: relative;
             @media all and (max-width: 767px){
                height: auto;
            }
            .top{
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid $color-gray;
                margin-bottom: 15px;
                position: relative;
                padding-left: 60px;
                .logo{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    @include translate(0, -50%);
                    height: 48px;
                    width: 48px;
                    border-radius: 50%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .title{
                    h3{
                        margin-bottom: 0;
                    }
                    & > span{
                        font-size: $size-p + 2;
                        font-weight: $medium;
                        color: $color-blue-light;
                    }
                }
            }
            .bottom{
                h6{
                    text-transform: unset;
                    padding: 0;
                    font-size: $size-p + 2;
                    font-weight: $medium;
                    color: $color-blue-light; 
                    display: block;
                    margin-top: 15px;
                }
                ul {
                    margin: 0;
                    li{
                        font-size: $size-p;
                        font-weight: $regular;
                        margin-left: 18px;
                        // &::before{
                        //     content: "";
                        //     position: absolute;
                        //     background: url('../image/svg/dot.svg');
                        //     @include background-image;
                        //     width: 5px;
                        //     height: 5px;
                        //     left: 0;
                        //     top: 50%;
                        //     @include translateY(-50%);
                        // }
                    }
                }
                p{
                    margin-bottom: 4px;
                    margin-right: 15px;
                    &:first-child{
                        margin-right: 0;
                    }
                }
                h5{
                    text-transform: capitalize;
                    display: inline-block;
                    margin-right: 15px; 
                    padding: 0;
                }
            }
            
            @media all and (max-width: 414px){
                
                .logo{
                    height: 40px;
                    width: 40px;
                    background-position: center 6px;
                    background-size: 30px auto;
                }
            }
            @media all and (max-width: 767px){
                margin: 0;
            }
        }
        
        .img-right{
            height: 406px;
            @include background-image;
            @media all and (max-width: 414px){
                height: 300px;
            }
        }
    }
}
 
// Press
.press{
    background-color: $bg-section;
    @media all and (min-width: 768px){
        background-image: url('../image/png/bg-product-top.png');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 360px auto;
    }
    h2{
        font-weight: $extraLight;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .card{
        border: 0;
        padding: 0;
        background-color: $bg-section;
        .content{
            margin: 5px;
             border-top: 4px solid  $bg-white;
            @include transition(all 0.2s ease-in-out);
            .card-img-top{
                background-color: $bg-white;
                justify-content: center;
                align-items: center;
                height: 152px;
                @include transition(all 0.2s ease-in-out);
                img{
                    width: 75%;
                    max-width: 200px;
                    height: auto;
                }
            }
            .card-body{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 60%;
                    top: 0;
                    left: 20%;
                    height: 2px;
                    background: $bg-body;
                    @include opacity(0.5);
                }
                background-color: $bg-white;
                h5{
                    text-align: center;
                    font-weight: $bold;
                    color: $bg-blue;
                    font-size: $size-h5 - 3;
                }
                p{
                    margin-bottom: 0;
                    text-align: center;
                }
                ul{
                    margin-bottom: 0;
                    li{
                        font-size: $size-p;
                    }
                }
            }
        }
        &:hover{
            .content{
                box-shadow: 0px 0px 5px 2px $bg-body;
                border-top: 4px solid $bg-blue;
            }
        }
    }
        
    
   @include arrow;

}
.why-choose-us{
    @media all and (min-width: 576px){
        background-image: url('../image/png/bg-product-top2.png'), url('../image/png/bg-product-bottom.png');
        background-position: top right, left bottom;
        background-size: 360px auto;
        background-repeat: no-repeat;
    }
    background-color: $bg-section;
    h2{
        text-align: center;
        @media all and (max-width: 576px){
            margin-bottom: 50px;
        }
    }
    h5{
        font-weight: $bold;
        color: $color-blue;
        text-transform: capitalize;
        font-size: $size-h5 - 2;
        margin-bottom: 15px;
    }
    .left{
        .image{
            @media all and (min-width: 768px){
                margin-left: -30px;
            }
        }
        .box{
            left: 0;
        }
    }
    .right{
        .image{
            @media all and (min-width: 768px){
                margin-right: -30px;
            }
        }
        .box{
            right: 0;
        }
        .text{
            h5{
                position: relative;
                @media all and (min-width: 768px){
                    font-size: $size-h2;
                    padding-bottom: 15px;
                    margin: 0;
                    text-align: left;
                    font-weight: $extraLight;
                }
                @media all and (min-width: 1024px){
                    font-size: $size-h2 + 6;
                }
                &::before{
                    content: "";
                    width: 265px;
                    height: 1px;
                    background: $color-text-blue;
                    position: absolute;
                    left: -230px;
                    bottom: -10px;
                    @media all and (min-width: 1366px){
                        left: -250px;
                    }
                    @media all and (max-width: 1024px){
                        width: 220px;
                        left: -200px;
                    }
                    @media all and (max-width: 768px){
                        display: none;
                    }
                }
            }
            p{
                padding-left: 50px;
                @media all and (max-width: 768px){
                    padding-left: 0;
                }
            }
        }
    }
    .text{
        justify-content: center;
        align-items: center;
        height: 488px;
         @media all and (max-width: 576px){
            padding: 0 30px;
         }
        h5{
            font-size: $size-h5 - 3;
        }
        p{
            margin-bottom: 0;
            font-size: $size-h2 - 4;
            @media all and (max-width: 1024px){
                font-size: $size-h5;
            }
            @media all and (max-width: 576px){
                font-size: $size-p;
            }
        }
    }
    .image{
        height: 488px;
        @include background-image;
        position: relative;
        opacity: 1 !important;
         @media all and (max-width: 576px){
            margin-bottom: 100px;
        }

        .box{
            width: 246px;
            height: 195px;
            border-top: 4px solid $bg-blue;
            position: absolute;
            bottom: -2px;
            background: $bg-white;
            justify-content: center;
            align-items: center;
            padding: 15px;
            background-color: $bg-section;
            opacity: 1 !important;
            p{
                margin-bottom: 0;
            }
            @media all and (max-width: 576px){
                bottom: -100px;
                width: 80%;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    .mb{
        margin-bottom: 100px;
        &:last-child{
            margin-bottom: 0px !important;
        }
        @media all and (max-width: 576px){
           margin-bottom: 50px;
        }
    }
    @media all and (max-width: 768px){
        .text{
            height: 350px;
        }
        .image{
            height: 350px;
        }
    }
    @media all and (max-width: 767px){
        .left{
            .text{
                margin-bottom: 60px;
            }
        }
        .text{
            height: auto;
        }
        .right{
            .text{
                margin-bottom: 60px;
                h2{
                   font-size: $size-h5 - 3;
                   font-weight: $bold;
                }
            }
            .row{
                flex-direction: column-reverse;
            }
        }
    }
}

.capital{
     @media all and (min-width: 768px){
        background-image: url('../image/png/bg-product-top2.png');
        background-position: top right;
        background-size: 360px auto;
        background-repeat: no-repeat;
    }
    position: relative;
    .image{
        height: 404px;
        @include background-image;
    }
    .box{
        padding: 0 20px;
         @media all and (max-width: 767px){
            padding: 50px 0 0;
        }
        h2{
            margin-bottom: 30px;
        }
        h5{
            font-size: $size-h5;
            padding: 0;
            font-weight: $bold;
            color: $color-blue;
            text-transform: unset;
        }
    }
}

.our-team{
    background-color: $bg-section;
    position: relative;
    h2{
        text-align: center;
        padding: 0;
        margin-bottom: 40px;
    }
    .row{
         @media all and (min-width: 768px){
            padding-bottom: 30px;
        }
         @media all and (max-width: 767px){
            flex-direction: column-reverse;
        }
    }
    .p-right{
        @media all and (min-width: 768px){
            padding-right: 0;
        }
    }
    .p-left{
        @media all and (min-width: 768px){
            padding-left: 0;
        }
    }
    .d-flex{
        height: 475px;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $bg-white;
        padding-left: 50px;
        padding-right: 50px;
        border-top: 3px solid $color-text-blue;
        @media all and (max-width: 1024px){
            height: 380px;
            padding: 0 30px;
        }
        @media all and (max-width: 992px){
            height: 350px;
        }
        @media all and (max-width: 767px){
            height: auto;
            .about{
                margin: 50px 0;
            }
        }
        .bg-img{
            position: absolute;
            width: auto;
            height: 135px;
            left: -35px;
            bottom: -30px;
            @media all and (max-width: 768px){
                display: none;
            }
        }
        .about{
            color: $bg-gray;
            h3{
                font-weight: $extraLight;
                margin-bottom: 15px;
            }
            .work{
                font-size: $size-p;
                font-weight: $semiBold;
                text-transform: capitalize;
                color: $color-text-blue;
            }
            ul{
                li{
                    font-size: $size-p;
                    margin-left: 18px;
                }
            }
        }
    }
    .image{
        height: 475px;
        @include background-image;
        @media all and (max-width: 1024px){
            height: 380px;
        }
        @media all and (max-width: 992px){
            height: 350px;
        }
    }
    @include arrow;
    @media all and (max-width: 575px){
        .slick-arrow{
            display: block !important;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: $color-blue;
            background-size: 12px auto;
            opacity: 1;
            @include transition(all 0.2s ease-in-out);
            &:hover{
                background-color: $color-navy;
            }
        }
        .slick-prev{
            left: -25px;
        }
        .slick-next{
            right: -25px;
        }
    }
}