//Background
$bg-white: #fff;
$bg-blue: #3164CA;
$bg-blue-light: #E9F4FB;
$bg-body: #e5e5e5;
$bg-black: #333;
$bg-gray: #434343;
$bg-violet: #0D2645;
$bg-section: #F8F8F8;
$bg-caption: #04141f;

//Color
$color-white: #fff;
$color-active: gray;
$color-black: #333;
$color-navy: #0D2645;
$color-black-light: #262626; 
$color-gray: #C4C4C4;
$color-blue: #3164CA;
$color-blue-light: #12335E;
$color-work: #8F8F8F;

//Border
$border-header: #F3F3F3;

//Shadow
$shadow: #ececec;

//Button hover
$light-hover:#262626;
$blue-hover: #02549A;

// Font-size
$size-normal: 18px;
$size-h1: 35px;
$size-h2: 34px;
$size-h3: 28px;
$size-h4: 24px;
$size-h5: 18px;
$size-h6: 13px;
$size-p: 13px;

//padding
$padding: 100px;
$padding-tablet: 50px;
$padding-mobile: 16px;

//Z-index
$Z-index1: 100;
$Z-index2: 200;
$Z-index5: 500;

//Fonts
$poppins: 'Poppins', sans-serif;


//font-weight
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;